.datalist-hack {
  max-width: 750px;
  margin: auto;
}

.videoContainer {
    position: absolute;
    right: -15;
    top: 175;
    width: 325px;
    height: 200px;
}
.videoContainer video {
    position: absolute;
    width: 100%;
    height: 100%;
}

.localVideo {
  position: absolute;
  right: 20px;
  width: 75px;
  height: 75px;
  z-index: 2;
}
