  <div class='container'>
    <h3>Welcome to the Teacher Dashboard!</h3>
  <div>
    <center>
      <h4>Are you available now?</h4>
      <button class ='toggle btn' [class.available]="availability" [class.notAvailable]="!availability" (click)="actions.toggleAvailabilityDispatch(); isAvailable()">
        {{ available$ | async }}
      </button>
    </center>
  </div>
  <div>
    <ul *ngFor="let session of sessions$ | async">
      <li> {{ session.studentname }} </li>
      <button
        (click)="teacherSocket.acceptSession(session)"
      >
        start session
      </button>
    </ul>
  </div>
</div>