<h3>Filter teachers by subject</h3>
  <button pButton type="button" (click)="getTeachers()" label="Show All Teachers"></button>
  <teacherSearch (onClicked)="getTeaching(getSubjectIDByName($event))"> </teacherSearch>
  <!--<table>
    <tr>
    Subjects:
        <td *ngFor="let subject of subjects">
          <button pButton type="button" (click)="getTeaching(subject.id)" label={{subject.name}}>
          </button>
        </td>
    </tr>
  </table>-->
  <h4>Teachers</h4>
  <p-dataList [value]="teachers">
    <template let-teacher>
        <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px;border-bottom:1px solid #D5D5D5;">
            <div class="ui-grid-row">
                <div class="ui-grid-col-3" style="text-align:center"><i class="fa fa-search" style="cursor:pointer;float:left;margin-top:40px"></i></div>
                <div class="ui-grid-col-9">
                    <div class="ui-grid ui-grid-responsive ui-fluid">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">Name: </div>
                            <div class="ui-grid-col-10">{{teacher.name}}</div>
                                <div *ngIf="!hasPendingRequest(teacher)">
                                  <button pButton (click)="requestSession(teacher)" label="request session">
                                  </button>
                                </div>

                                <div *ngIf="hasPendingRequest(teacher)">
                                  <button pButton (click)="cancelRequest(teacher)" label="cancel session">
                                  </button>
                                </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">Rating: </div>
                            <div class="ui-grid-col-10">{{teacher.rating}}</div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">Availability: </div>
                            <div class="ui-grid-col-10">{{teacher.isavailible}}</div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">Email: </div>
                            <div class="ui-grid-col-10">{{teacher.email}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
  </p-dataList>
<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
