<div class='container log-in'>
  <h1>Hi!</h1>
  <center>
    <form>
      <div class="form-group">
        <label for="name">Username</label>
        <input type="text" class="form-control" #username placeholder="yours@example.com">
      </div>
      <div class="form-group">
        <label for="name">Password</label>
        <input type="password" class="form-control" #password placeholder="your password">
      </div>
      <button 
        type="submit" 
        class="btn btn-default" 
        (click)="login(username.value, password.value)"
        >Login</button>
        <h5>- OR -</h5>
        <button 
          type="submit" 
          class="btn btn-default" 
          (click)="googleLogin(username.value)"
          ><img class='google' src="assets/logo/googleg.svg"/>
          Login with Google
        </button>
      <h4>Don't have an account yet?</h4>
    </form>
    <button 
      type="submit" 
      class="btn btn-default sign-up" 
      (click)="goToSignup()"
      >Sign Up
    </button>
  </center>
</div>
