<p-tabView class="subject" (onChange)="getSubjectByStudent()">
    <p-tabPanel header="List Subjects">
        <div class="result" 
            *ngFor="let subject of subjects | sort; let i = index" >
            <h3>Subject: {{ subject.name }}</h3>
            <h4>Progress: {{subject.progress}}%</h4>
            <p-progressBar value={{subject.progress}} ></p-progressBar>
        
            <div> 
                <button 
                        class="btn btn-default"
                        type="button" 
                        (click)="levelUp(subject.subjectid, subject.userid, subject.progress)"
                        label="Level Up"
                >Level Up
                </button>
                <button 
                        class="btn btn-default"
                        type="button" 
                        (click)="deleteStudentSubject(subject.subjectid, i)"
                        label="Delete"
                >Delete
                </button>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Add Subjects">
        <subjectSearch></subjectSearch>
    </p-tabPanel>
    <p-tabPanel header="Update Profile">
        <profile></profile>
    </p-tabPanel>
     <p-tabPanel header="Appointments">
        <appointment></appointment>
    </p-tabPanel>
    <p-tabPanel header="Payment">
        <sd-stripe-form></sd-stripe-form>
    </p-tabPanel>
    
</p-tabView>






<!--<subjectSearch></subjectSearch>-->

<!--<profile></profile>

<appointment></appointment>-->

