<h1>Student Dashboard</h1>
    <button type="submit"   
        class="btn btn-default btn-primary" 
        (click)="getSubjectByStudent()"
        >List subjects
    </button>
    <div class="subject" 
        *ngFor="let subject of subjects; let i = index" >
        <h3>Subject: {{ subject.name }}</h3>
        <p>Progress: {{subject.progress}}%</p>
        <progress value={{subject.progress}} max="100"></progress>
       
       
        <div>
            <button class="btn btn-default" 
                    (click)="deleteStudentSubject(subject.subjectid, i)"
            >Delete
            </button>
        </div>
    </div>




<subjectSearch></subjectSearch>

<profile></profile>

<appointment></appointment>

