<div>
  <div><h1>Please rate your session:</h1></div>
  <div>  
    <div class="starContainer" on-mouseleave="emptyStars()">
      <img class="rating" 
        *ngFor="#star of ratingStars; #i = index;" 
        [class.fillStar]=star src="../../assets/logo/emptyStar.svg" 
        on-mouseenter="undoRating(); fillStars(i)"
        (click)="setRating(i+1); fillStars();"
      />
    </div>
  </div>
  <br>
  <div>
    <textarea
      class="review"
      placeholder="Leave a comment for your tutor!"
    ></textarea>
  </div>
  <br>
  <div>
    <button (click)="submitReview()">Submit</button>
  </div>
</div>
