<div class = "container">
    <h1>Advanced Search</h1>
    {{ diagnostic }}
    <form> 
        <div class="form-group">
            <label for="name">Teacher Name</label>
            <input 
                type="text"
                class="form-control"
                [(ngModel)] = "userParams.name"
            >
        </div>
        <div class="form-group">
          <label for="username">Subject</label>
            <input 
                type="select"
                class="form-control"
                [(ngModel)] = "userParams.subject"
            >
        </div>
        <div class="form-group">
          <label for="username">Rating</label>
            <input 
                type="select"
                class="form-control"
                [(ngModel)] = "userParams.rating"
            >
        </div>
        <div class="form-group">
          <label for="username">Currently Available</label>
            <input 
                type="checkbox"
                class="form-control"
                [(ngModel)] = "userParams.currentlyAvailable"
            >
        </div>

        <button 
                type="submit" 
                class="btn btn-default"
                (click)="search(userParams)"
                >Search</button>
    </form>
</div>